<h2>Add your celebritie</h2>
<form action="/celebrities/create" method="post">

  <label for="name">Name</label>
  <input type="text" name="name" value="Star Name" />

  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" value="Her/his occupation" />

  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase" value="Her/his catchphrase" />

  <button>Add</button>
</form>

{{! command+shift+/ = genère comment }}